@media (min-width: 992px) and (max-width: 1439px){
    p {
        font-size: 15px;
    }

    /* our service */
    .section-service {
        padding-right: 0;
    }

    /* why us */

    .card {
        width: 48%;
        height: 13.5rem;
        margin-bottom: 1rem;
    }

    /* Testimonial */
    
    .carousel-card {
        height: auto;
    }

}