* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

li {
    list-style: none;
}

.row {
    padding-right: 0px;
    margin-right: 0px;
}

.main-section {
    padding-inline: 7rem;
}

.background-color-custom {
    background-color: #F1F3FF;
}

.btn-success {
    background-color: #5CB85F;
    border: transparent;
}

/* Header */

#header {
    padding-block: 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    margin: 0;
}

#header-logo {
    background-color:darkblue;
    width: 7rem;
}

.header-desktop {
    display: block;
}

.header-mobile {
    display: none;
}

.header-nav a, button {
    margin-left: 2rem;
}

.header-nav-desktop {
    display: block;
}

.header-nav-mobile {
    display: none;
}

#mobile-sidenav {
    display: none;
}

/* Content */

/* deskripsi */

#deskripsi {
    padding-left: 7rem;
    padding-top : 7rem;
    display: flex;
    flex-direction: row;
}

#deskripsi section {
    padding-right: 0;
}

.deskripsi-text {
    padding-block: 5rem;
}

.deskripsi-text p {
    padding-right: 20%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.desc-title-desktop {
    display: inline;
}

.desc-title-desktop h1 {
    margin-right: 3rem;
}

.desc-title-mobile {
    display: none;
}

.button-mulai-sewa {
    margin-left: 0;
}

.car-image {
    align-items: flex-end;
}

.car-image img {
    width: 100%;
}

/* our service */

#our-service {
    margin-block: 2rem;
    margin-top: 5rem;
}

#our-service h4{
    margin-bottom: 2rem;
}

.section-service {
    padding: 4rem;
    padding-bottom: 0;
}

.service-icon p {
    margin-bottom: 0.5rem;
    height: 2rem;
}

.service-icon i {
    background-color: #CFD4ED;
    color: darkblue;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 1em;
    padding: 2px;
}

/* Why Us? */

#why-us {
    padding-top: 7rem;
}

#why-us p {
    margin-block: 1rem;
    margin-bottom: 2rem;
}

.why-card {
    margin-left: 0.05rem;
    justify-content: space-between;
}

.card {
    width: 18rem;
    height: 13.5rem;
}

.card h5 {
    margin-block: 1rem;
}

/* testimonial */

#testimonial {
    text-align: center;
    padding-top: 7rem;
}

#testimonial .title-desc {
    margin: 1rem;
    margin-bottom: 2rem;
}

#carouselExampleControls {
    overflow: hidden;
}

.carousel-card {
    background-color: #F1F3FF;
    width: 50%;
    height: auto;
    text-align: left;
    border: transparent;
    margin: auto;
}

.carousel-card .card-body {
    padding: 4rem;
}

.carousel-profile-name {
    margin-bottom: 0;
}

.bi-star-fill {
    color: #F9CC00;
}

.reverse-image {
    transform: scaleX(-1);
}

.slide-desktop {
    display: inline;
}

.slide-mobile {
    display: none;
}

.carousel-button {
    background-color: transparent;
    margin-inline: 0.5rem;
    margin-top: 2rem;
    border: transparent;
    position: relative;
    display: inline-block;
    padding: 0;
}

.carousel-button .carousel-button-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.carousel-button:hover .carousel-button-hover {
    display: inline;
}

.carousel-inner {
    width: 150%;
    left: -25%;
}

.carousel-item-next:not(.carousel-item-start),
.carousel-item-end.active {
  transform: translate3d(33%, 0, 0);
}

.carousel-item-prev:not(.carousel-item-end),
.carousel-item-start.active {
  transform: translate3d(-33%, 0, 0);
}

.carousel-item .card {
  float: left;
  margin-right: 10px;
  width: calc(33% - 10px);
}

/* mulai sewa */

#start-sewa {
    margin-inline: 7rem;
    margin-top: 7rem;
    background-color: darkblue;
    color: white;
    padding: 4rem;
    border-radius: 1.5rem;
}

#start-sewa h2 {
    margin-bottom: 3rem;
}

#start-sewa p {
    padding-inline: 25%;
}

#start-sewa .btn-success {
    background-color: #5CB85F;
    margin-top: 3rem;
    margin-inline: 0;
}

/* FAQ */

#faq {
    padding-top: 7rem;
}

#faq h4 {
    margin-bottom: 1rem;
}

.accordion-item {
    width: 100%;
    margin-block: 1rem;
    border: 1px solid grey;
}

.accordion-item button {
    margin: 0;
}

/* Footer */

#footer {
    margin-top: 7rem;
    margin-bottom: 5rem;
}

#footer p {
    margin-bottom: 1rem;
}

.footer-nav li {
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 30%;
}

.footer-connect-icon img {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

#footer-logo {
    background-color:darkblue;
    width: 7rem;
}