@media (min-width: 320px) and (max-width: 768px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }

    p {
        font-size: 14px;
    }

    .main-section {
        padding-inline: 15px;
    }

    /* header */

    #header {
        width: 100%;
        position: fixed;
        margin: 0;
        padding-block: 10px;
        padding-inline: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-nav-desktop {
        display: none;
    }
    
    .header-nav-mobile {
        display: inline;
        background-color: transparent;
        border: none;
        font-size: 20px;
        padding-right: 0px;
    }

    .header-nav-mobile:hover {
        background-color: inherit;
    }

    .nav-mobile-button {
        border-radius: 10px;
    }

    .offcanvas-header {
        padding-bottom: 15px;
    }

    .offcanvas-end {
        max-width: 50%;
    }

    .offcanvas-end a {
        margin-bottom: 15px;
    }

    #offcanvasRightLabel {
        margin-bottom: 0;
    }

    .mobile-nav-head {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        padding-inline: 15px;
        font-size: 15px;
        padding-top: 0;
    }

    .btn-mobile-register {
        margin-left: 0px;
    }

    /* deskripsi */

    #deskripsi {
        padding-left: 15px;
        padding-top : 5px;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    #deskripsi p {
        padding: 0;
        padding-right: 10px;
    }

    .deskripsi-text {
        padding-top: 70px;
        padding-bottom: 30px;
    }

    .deskripsi-text h1 {
        padding-right: 10px;
    }
    
    .desc-title-desktop {
        display: none;
    }
    
    .desc-title-mobile {
        display: block;
    }

    .desc-title-mobile h1 {
        margin-right: 60px;
        line-height: 50px;
        font-size: 33px;
    }

    .desc-title-mobile p {
        padding-right: 100px;
    }

    .deskripsi-text p {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    /* our service */

    #our-service {
        display: flex;
        flex-direction: column;
        margin-block: 0px;
        padding-top: 10px;
    }

    #our-service h4 {
        margin-bottom: 15px;
    }

    .section-service {
        padding: 10px;
        padding-bottom: 0;
    }

    .service-image {
        padding: 40px;
    }
    
    .service-icon i {
        width: 10px;
        height: 10px;
        margin-right: 15px;
        padding: 3px;
    }

    /* Why Us? */

    #why-us {
        padding-top: 60px;
        padding-right: 25px;
        text-align: center;
    }

    #why-us p {
        margin-block: 1rem;
        margin-bottom: 1.5rem;
    }

    .why-card {
        margin-left: 0px;
        justify-content: center;
    }

    #why-us .card-body {
        padding-top: 30px;
    }

    #why-us .card-body h5 {
        margin-top: 20px;
        font-size: 17px;
    }

    #why-us .card {
        border: 2px solid lightgray;
    }

    .card {
        width: 100%;
        height: fit-content;
        padding: 1px;
        text-align: left;
        margin-bottom: 10px;
    }

    .card-text {
        margin-block-end: 0px;
    }

    .card h5 {
        margin-block: 15px;
    }

    /* testimonial */

    #testimonial {
        width: 100%;
        padding-top: 60px;
    }

    .carousel-card {
        width: 100%;
        border-radius: 10px;
    }
    
    .carousel-card .card-body {
        padding: 30px;
        text-align: center;
    }

    .carousel-card .card-body p {
        text-align: left;
        margin-bottom: 10px;
    }

    .carousel-card .card-body .carousel-rating {
        text-align: left;
        margin-top: 15px;
    }

    .slide-desktop {
        display: none;
    }
    
    .slide-mobile {
        display: inline;
    }

    .testimonial-carousel {
        padding-inline: 10px;
    }

    .carousel-inner {
        width: 100%;
        left: 0%;
    }
    
    .carousel-item-next:not(.carousel-item-start),
    .carousel-item-end.active {
      transform: translate3d(100%, 0, 0);
    }
    
    .carousel-item-prev:not(.carousel-item-end),
    .carousel-item-start.active {
      transform: translate3d(-100%, 0, 0);
    }
    
    .carousel-item .card {
      float: left;
      margin-right: 10px;
      width: 100%;
    }

    .carousel-button {
        margin-top: 5px;
    }

    /* mulai sewa */

    #start-sewa {
        margin-inline: 10px;
        margin-top: 60px;
        background-color: darkblue;
        color: white;
        padding: 60px;
        border-radius: 15px;
    }

    #start-sewa h2 {
        margin-bottom: 20px;
    }

    #start-sewa p {
        padding-inline: 0rem;
    }

    #start-sewa .btn-success {
        background-color: #5CB85F;
        margin-top: 10px;
        margin-inline: 0;
    }

    /* faq */

    #faq {
        padding-top: 60px;
    }
    
    #faq h4 {
        margin-bottom: 1rem;
    }

    #faq p {
        margin-bottom: 0;
    }

    .accordion-button {
        font-size: small;
    }

    .accordion-body {
        font-size: small;
    }

    /* footer */

    #footer {
        margin-bottom: 50px;
        margin-top: 50px;
        padding-right: 30px;
    }
    
    #footer p {
        margin-bottom: 1rem;
    }

    .footer-nav li {
        font-size: small;
        padding-left: 0px;
    }
    
    .footer-connect-icon img {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }
    
    #footer-logo {
        background-color:darkblue;
        width: 7rem;
        height: 2rem;
    }
}


